In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"A:\THENMOZHI\100data_set\bank_marketing_docker\WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [3]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [14]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [24]:
df.drop("customerID", inplace=True, axis=1)

In [25]:
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [17]:
df.duplicated().sum()

np.int64(0)

In [20]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

for i in df.select_dtypes(include="object").columns:
    df[i]=label.fit_transform(df[i])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   int64
 1   gender            7043 non-null   int64
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   int64
 4   Dependents        7043 non-null   int64
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   int64
 7   MultipleLines     7043 non-null   int64
 8   InternetService   7043 non-null   int64
 9   OnlineSecurity    7043 non-null   int64
 10  OnlineBackup      7043 non-null   int64
 11  DeviceProtection  7043 non-null   int64
 12  TechSupport       7043 non-null   int64
 13  StreamingTV       7043 non-null   int64
 14  StreamingMovies   7043 non-null   int64
 15  Contract          7043 non-null   int64
 16  PaperlessBilling  7043 non-null   int64
 17  PaymentMethod     7043 non-null   int64
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   int64
 20  Churn             7043 non-null   int64
dtypes: float64(1), int64(20)
memory usage: 1.1 MB

In [26]:
x=df.drop("Churn" , axis=1)
y=df["Churn"]

In [29]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [27]:
y.value_counts()

Churn
0    5174
1    1869
Name: count, dtype: int64

In [30]:
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler


smote=SMOTE(random_state=42)
x_train_bal,y_train_bal=smote.fit_resample(x_train,y_train)

scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train_bal)
x_test_scaled=scaler.transform(x_test)

In [31]:
#randomforest clasiifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

model=RandomForestClassifier()
model.fit(x_train_scaled,y_train_bal)
y_predict=model.predict(x_test_scaled)
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.86      0.84      0.85      1061
           1       0.55      0.59      0.57       348

    accuracy                           0.78      1409
   macro avg       0.71      0.72      0.71      1409
weighted avg       0.79      0.78      0.78      1409

In [33]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier

parm_dist={
    "n_estimators":[100,200],
    "min_samples_split":[2,5],
    "min_samples_leaf":[1,2],
    "max_depth":[10,20],
}

rf=RandomForestClassifier()
random_search=RandomizedSearchCV(rf,param_distributions=parm_dist,n_iter=10,cv=3,n_jobs=-1,scoring="f1")
random_search.fit(x_train_scaled,y_train_bal)
best_model=random_search.best_estimator_

In [34]:
y_predict=best_model.predict(x_test_scaled)
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.89      0.81      0.85      1061
           1       0.54      0.69      0.61       348

    accuracy                           0.78      1409
   macro avg       0.71      0.75      0.73      1409
weighted avg       0.80      0.78      0.79      1409

In [35]:
import pickle

with open("model.pkl","wb") as f:
    pickle.dump(model,f)

with open("scaler.pkl","wb") as f:
    pickle.dump(scaler,f)

In [36]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')